@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700|Roboto:500,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.toDoContainer{
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.col-3{
  padding-left: 0;
}
