.color{
    margin-bottom: 2px;
    min-height: 15px!important;
    min-width: 15px!important;
    max-width: 15px;
    max-height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.red{
    background-color: #e74c3c;
}

.blue{
    background-color: #3498db;
}

.green{
    background-color: #2ecc71;
}

.task{
    padding-top: 20px;
    padding-left: 15%;
    justify-content: start;
    align-items: center;
    text-align: start;
}
.task__button{
    display: flex;
    color: #34495e;
    margin-left: 10px;
}

.task__button:hover{
    text-decoration: none;
    color: #2c3e50;
}