.sideBarButton{
    margin-left: 4%;
    background-color: transparent;
    border: 2px solid #bdc3c7;
    color: #bdc3c7;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    margin-left: 15%;
}

.btn:hover{
    border: 2px solid #95a5a6;
    color: #95a5a6;
}
